.header {
    width: 100%;
    padding: 16px 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 3px 12px 0px #00000026;

    .nav {
        display: flex;
        align-items: center;
        gap: 24px;

        ul {
            display: flex;
            align-items: center;
            gap: 24px;

            li {
                a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    color: #454545;
                    position: relative;

                    &.active {
                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -12px;
                            width: 50%;
                            height: 2px;
                            border-radius: 12px;
                            background: #0066CB;
                        }
                    }
                }
            }
        }
    }
}

.act-btns {
    display: flex;
    align-items: center;
    gap: 24px;

    .btn {
        padding: 12px 24px;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.6px;
        border-radius: 6px;

        &.primary {
            background: #0066CB;
            color: #fff;
        }

        &.outlined {
            border: 1px solid #0066CB;
            color: #0066CB;
            background: #F3FAFD;
        }
    }
}

.hero-sec {
    background: url("../../assets/img/header_bg.jpg") no-repeat;
    background-position: center;

    .hero-banner {
        position: relative;
        display: flex;
        align-items: start;
        gap: 120px;
        padding: 40px 0 40px 120px;
        margin: 20px 0 0 0;


        .hero-left {
            .wrap {
                padding: 30px 0;

                .capsules {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin-bottom: 12px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    li {
                        border: 1px solid #80C31C;
                        color: #454545;
                        padding: 8px 16px;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        border-radius: 39px;
                    }
                }
            }

            .heading {
                padding-bottom: 30px;

                h1 {
                    font-family: 'Urbanist', sans-serif;
                    font-size: 80px;
                    font-weight: 500;
                    line-height: 96px;
                    text-align: left;
                    color: #454545;

                    .black {
                        font-size: 80px;
                        font-weight: 700;
                        line-height: 96px;
                        color: #11181B;
                        margin-right: 20px;
                    }

                    .green {
                        font-size: 80px;
                        font-weight: 700;
                        line-height: 96px;
                        color: #80C31C;
                    }
                }
            }

            .act-btns {
                padding: 24px 0;
            }

            .socials {
                h4 {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    color: #626262;
                    margin-bottom: 16px;
                }

                ul {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    li {
                        img {
                            filter: grayscale(100%);
                            opacity: 0.9;
                        }

                    }
                }
            }
        }
    }

    .banner-btm {
        filter: grayscale(95%);
        opacity: 0.9;
        margin-bottom: 90px;
    }
}

.hero-sec2 {
    .banner-2 {
        padding: 40px 0;

        .title {
            h1 {
                font-family: 'Urbanist', sans-serif;
                font-size: 60px;
                font-weight: 700;
                line-height: 78px;
                color: #454545;
                text-align: right;
                padding-right: 80px;
                padding-bottom: 40px;

                .green {
                    color: #80C31C;
                }

                .bg-green {
                    background-color: #80C31C;
                }
            }
        }

        .main {
            position: relative;
            background: url("../../assets/img/Rectangle_black.png") no-repeat;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 36px 80px;

            .left {
                .girl {
                    max-width: 80%;
                    position: absolute;
                    bottom: 0;
                    left: 80px;
                    z-index: 99;
                }

                .arrow {
                    max-width: 80%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 999;
                    opacity: 0.6;
                }
            }

            .right {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 24px 0;

                .wrap {
                    &:first-child {
                        border-right: 1px solid #808080;
                    }

                    .cards {
                        padding: 16px;
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: flex-start;
                        gap: 12px;

                        &:first-child {
                            border-bottom: 1px solid #808080;
                        }


                        h2 {
                            font-size: 66.44px;
                            font-weight: 700;
                            line-height: 71.09px;
                            color: #80C31C;
                        }

                        p {
                            font-size: 24.41px;
                            font-weight: 400;
                            line-height: 36.61px;
                            color: #F3FAFD;
                        }
                    }
                }
            }
        }
    }
}