header {
    width: 100%;
    position: relative;
    background: #fff;
    padding: 12px 0;

    @media (max-width:768px) {
        padding: 0;
    }

    .language-dropdown select {
        width: 60px;
        height: 52px;
        background: #000 url("../../assets/dropdown-arrow.svg") no-repeat;
        background-position-x: 2%;
        background-position-y: center;
        text-align: right;
        color: #fff;
        border: none;
        border-radius: 0;
        padding: 8px;

        @media (max-width:768px) {
            padding: 4px 8px;
            height: 32px;
        }
    }

    .nav-logo {
        h4 {
            position: relative;
            color: #000;
            font-size: 26px;
            font-weight: 500;
            padding-bottom: 4px;

            &::after {
                content: '';
                width: 55px;
                height: 2px;
                background-color: rgb(222, 222, 88);
                position: absolute;
                bottom: 0px;
                left: 30%;
            }

            @media (max-width:768px) {
                font-size: 20px;
                padding-left: 30px;

                &::after {
                    display: none;
                }
            }
        }
    }

    .navbar {
        position: relative;
        width: 100%;

        &__list {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;

            li a {
                text-decoration: none;
                color: #000;
                font-size: 14px;
                font-weight: 400;

                @media (max-width:768px) {
                    font-size: 16px;
                }
            }
        }
    }

    .header_right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

    }

    .btn-red {
        background-color: #E63946;
        color: #fff;
        padding: 10px 20px;
        border: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        cursor: pointer;
    }

    .account-cart {
        display: flex;
        gap: 12px;

        .icon {
            width: 48px;
            height: 52px;
            padding: 4px 6px;
            border-radius: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 32px;
                height: 32px;
            }

            &.account {
                background-color: #dc3545;
            }

            &.cart {
                background-color: rgb(222, 222, 88);
            }
        }
    }

    .mobile-menu-icon {
        display: none;
        padding: 12px 0;

        img {
            width: 32px;
            height: 32px;
        }

        @media (max-width:768px) {
            display: block;
        }
    }

    .web_menu {
        width: 100%;
        position: relative;

        @media (max-width:768px) {
            display: none;
        }
    }

    .mobile_menu {
        display: none;
        width: 100%;
        height: 100vh;
        padding: 12px 0;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        background: #fff;
        transform: translateX(100%);
        transition: transform 0.9s linear;

        @media (max-width:768px) {
            &.active {
                display: block;
                transform: translateX(0);
            }
        }

        .mobile-menu-top {
            width: 100%;
            position: relative;
            margin-bottom: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .mobile-menu-btm {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .navbar__list {
                flex-direction: column;
                gap: 20px;

                a {
                    position: relative;

                    &.active {
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -7px;
                            right: 0;
                            z-index: -1;
                            width: 100%;
                            height: 20px;
                            background: url('../../assets/line.png') no-repeat right;
                            background-size: contain;
                        }
                    }
                }
            }

            .mob-btn-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;
                flex-direction: column;
            }
        }
    }
}

.dis_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-sec {
    position: relative;
    padding: 24px 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "title image text";
    gap: 20px;

    @media (max-width:768px) {
        padding: 0;
        grid-template-columns: 1fr;
        gap: 10px;
        grid-template-areas:
            "image"
            "title"
            "text";
    }

    .hero-title {
        grid-area: title;
        position: relative;
        display: flex;
        align-items: end;
        justify-content: end;
        padding-bottom: 80px;

        @media (max-width:768px) {
            padding-bottom: 40px;
            justify-content: center;
        }

        @media (max-width:426px) {
            padding-bottom: 20px;
            justify-content: center;
        }

        h2 {
            font-size: 36px;
            font-weight: 500;
            line-height: 100%;
            color: #333333;
            text-transform: uppercase;

            @media (max-width:768px) {
                font-size: 28px;
            }

            @media (max-width:426px) {
                font-size: 22px;
            }
        }

        img {
            position: absolute;
            right: 0;
            bottom: 55px;
            width: 200px;
            height: 60px;
            z-index: -1;
            aspect-ratio: 3/1;

            @media (max-width:768px) {
                right: 33%;
                bottom: 16px;
                width: 160px;
            }

            @media (max-width:426px) {
                right: 25%;
                bottom: -8px;
                width: 130px;
            }
        }
    }

    .hero-image {
        grid-area: image;
        display: grid;
        place-items: center;

        img {
            background-size: contain;
            height: 80vh;

            @media (max-width: 768px) {
                height: auto;
                max-width: 100%;
            }
        }
    }

    .hero-text {
        grid-area: text;
        position: relative;
        display: flex;
        align-items: end;
        justify-content: end;

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 100%;
            color: #666666;

            @media (max-width:768px) {
                font-size: 16px;
            }

            @media (max-width:426px) {
                font-size: 14px;
            }
        }
    }
}